<!-- w-full  -->
<div class='max-w-full mx-auto'>
  <div class='mb-10 justify-center font-mono text-center '>
    Educhain Stages:
  </div>

  <div class='p-5 bg-lime-500 border-1 border-solid rounded-xl mt-2 grid grid-cols-3 gap-5'>
    <label class='font-mono text-center'>
      |Examples from articles|
    </label>

    <label class='font-mono text-center'>
      |Stages|
    </label>

    <label class='font-mono text-center'>
      |Tasks description|
    </label>
  </div>

  <div class="p-5 bg-lime-500 border-1 border-solid rounded-xl mt-2 grid grid-cols-3 gap-5">
    <%= link_to "Stage_1 Examples", examples_path, class:"text-center bg-emerald-300 border-1 border-solid hover:bg-mint-500 focus:bg-mint-500 px-4 py-2 rounded-xl"%>
    <%= link_to "Stage_1", new_user_path, class:"text-center bg-emerald-300/75 border-1 border-solid hover:bg-mint-500 focus:bg-mint-500 px-4 py-2 rounded-xl"%>
    <%= link_to "Task_1 Desc", 'https://lms.educhain.ru/courses/134/assignments/198?module_item_id=1640', class:"text-center bg-emerald-300/50 border-1 border-solid hover:bg-mint-500 focus:bg-mint-500 px-4 py-2 rounded-xl"%>
    
    <%= link_to "Stage_2 Examples", examples_path, class:"text-center bg-emerald-300 border-1 border-solid hover:bg-mint-500 focus:bg-mint-500 px-4 py-2 rounded-xl"%>
    <%= link_to "Stage_2", "#", class:"text-center bg-emerald-300/75 border-1 border-solid hover:bg-mint-500 focus:bg-mint-500 px-4 py-2 rounded-xl"%>
    <%= link_to "Task_2 Desc", 'https://lms.educhain.ru/courses/134/assignments/196?module_item_id=1638', class:"text-center bg-emerald-300/50 border-1 border-solid hover:bg-mint-500 focus:bg-mint-500 px-4 py-2 rounded-xl"%>
  </div>
</div>